/* Add more spacing */
body {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #109af0; /* Blue */
    color: #ffffff; /* White */
}

.btn-group .btn {
    margin-right: 10px; /* Increased margin */
    background-color: #1a78dd; /* Blue */
    color: #ffffff; /* White */
    border-color: #007BFF; /* Blue */
}

.btn-group .btn:last-child {
    margin-right: 0;
}

.mt-5 {
    margin-top: 30px; /* Increased margin */
}

.mb-3 {
    margin-bottom: 20px; /* Increased margin */
}

.mt-4 {
    margin-top: 20px; /* Increased margin */
}

.container {
    margin-bottom: 40px; /* Increased margin */
}

/* Custom CSS for modal */
.modal-body label {
    display: inline-block;
    width: 100%;
    margin-bottom: .5rem;
}

.modal-body input {
    width: 100%;
}

.table thead th {
    text-align: center;
}

.table tbody td {
    text-align: center;
}

/* Footer Styles */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #343a40; /* Dark grey */
    color: #ffffff; /* White */
    padding: 20px 0; /* Adjust padding as needed */
    z-index: 1000; /* Ensure the footer stays above other elements */
}

.footer p {
    margin-bottom: 0; /* Remove bottom margin from the paragraph */
}

.footer ul {
    padding-left: 0; /* Remove default padding */
    list-style: none; /* Remove bullet points */
}

.footer ul li {
    display: inline;
    margin-right: 15px; /* Adjust spacing between list items */
}

.footer ul li:last-child {
    margin-right: 0; /* Remove margin from the last list item */
}

.footer ul li a {
    color: #ffffff; /* White */
    text-decoration: none;
}

.footer ul li a:hover {
    text-decoration: underline;
}

/* Pagination Styles */
.pagination {
    margin-bottom: 80px; /* Adjust margin to prevent overlap with footer */
}

.pagination li {
    display: inline-block;
    margin-right: 5px; /* Adjust spacing between pagination items */
}

.pagination li:last-child {
    margin-right: 0; /* Remove margin from the last pagination item */
}

.pagination a {
    color: #007bff; /* Blue */
    text-decoration: none;
    padding: 5px 10px;
}

.pagination a:hover {
    text-decoration: underline;
    background-color: #007bff; /* Blue */
    color: #ffffff; /* White */
}

.pagination .active a {
    background-color: #007bff; /* Blue */
    color: #ffffff; /* White */
    pointer-events: none; /* Disable click events on the active pagination item */
}
